{% extends 'base.html' %}

{% block head %} <title>Music | Add</title> {% endblock %}

{% block body %}
    
    <div>
        <h1>Bem Vindo ao Music</h1>

    <form method="POST" action="/add_user">

        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>

        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>

        <div>
            <button type="submit">Adicionar User</button>
        </div>
    </form>

    </div>

{% endblock %}