{% extends 'base.html' %}

{% block head %} <title>Music | List</title> {% endblock %}

{% block body %}
    
    <div>
        <h1>Bem Vindo ao Music</h1>

    <ul>
    {% for music in list_music %}
        <li>{{ music.user_id }} - {{ music.id }} - {{ music.name }} - {{ music.artist }} - {{ music.genre.value }} - 
            <a href="{{ url_for('main.edit_music', music_id=music.id)}}">Editar</a>
            <a href="{{ url_for('main.del_music', music_id=music.id )}}">Excluir</a>
        </li>
    {% else %}
        <li>Nenhuma música cadastrada.</li>
    {% endfor %}
    </ul>

    </div>

{% endblock %}