{% extends 'base.html' %}

{% block head %}<title>Music | Cadastro</title>{% endblock %}

{% block body %}
    <div class="py-5 my-5">

        <h2>{{ titulo }}</h2>

        <form method="POST" action="/adicionar">
            <fieldset>

                <legend>Digite as informações da música</legend>

                <div class="mb-3">
                    <label for="nome">Nome:</label>
                    <input type="text" name="nome" id="nome" class="form-control">
                </div>

                <div class="mb-3">
                    <label for="cantor">Cantor:</label>
                    <input type="text" name="cantor" id="cantor" class="form-control">
                </div>

                <div class="mb-3">
                    <label for="genero">Genero:</label>
                    <input type="text" name="genero" id="genero" class="form-control">
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-success">Adicionar</button>
                </div>

            </fieldset>
        </form>

    </div>
{% endblock %}